.fieldset {
  padding: 0px 4px;
  border-radius: 4px;
}

.fieldsetBody {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input {
  border: none;
  background: inherit;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.icon:hover {
  background-color: rgba(88, 88, 88, 0.2);
}
