.options {
  list-style-type: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.options:focus-visible,
.option:focus-visible {
  outline: none;
}

.option {
  background-color: black;
  width: 100%;
  color: antiquewhite;
  cursor: pointer;
}

.option:hover {
  background-color: rgb(38, 38, 38);
}
